.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $white;
  width: 100%;
  z-index: 2;

  .container {
    padding: rem(18px) 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__contacts {
    color: $black;

    @include mobile {
      .contacts__phone {
        display: flex;
        justify-content: center;

        margin-bottom: rem(12px);
      }
    }

    .contacts__phone-link {
      font-weight: 400;
    }

    .contacts__phone-icon {
      fill: $black;
    }
  }
}
