.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;

  @include tablet {
    background-color: $blue;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: rem(28px);

    @include tablet {
      height: $header;
      padding-left: rem(30px);
      padding-right: rem(36px);
      padding-top: 0;
      align-items: center;
    }

    @include mobile {
      padding: 0 rem(10px);
    }
  }

  .logo {
    margin-right: rem(44px);
    width: rem(55px);
    height: rem(39px);
  }

  .navbar {
    margin-right: rem(47px);
    padding-top: rem(8px);

    @include tablet {
      display: none;
    }
  }

  &__contacts {
    .contacts__phone {
      padding-top: rem(12px);
    }

    @include tablet {
      display: none;
    }
  }

  &__hamburger {
    display: none;
    fill: $white;
    padding: rem(5px);

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__hamburger-icon {
    width: rem(26px);
    height: rem(24px);
  }
}
