.player {
  position: relative;
  height: 100%;

  &__controls,
  &__splash {
    position: absolute;
    left: 0;
    width: 100%;
  }

  &__controls {
    height: rem(35px);
    bottom: 0;
    z-index: 2;
    background-color: $play-grey-color;
    display: flex;
    align-items: center;
    padding: 0 rem(23px) 0 rem(17px);
  }

  &__splash {
    height: 100%;
    top: 0;
    background: url("../img/video-splash.jpg") no-repeat center / cover;
  }

  &__play-btn {
    background: url("../img/icons/play.svg") no-repeat center / cover;
    width: rem(11px);
    height: rem(16px);
    margin-right: rem(29px);
    transition: 0.2s;
    filter: brightness(100%);

    &:hover {
      filter: brightness(70%);
    }

    &--main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: rem(75px);
      height: rem(110px);
      opacity: 1;
      visibility: visible;
      margin-right: 0;
    }

    &--pause {
      background-image: url("../img/icons/pause.svg");
      opacity: 0;
      visibility: hidden;
    }

    &--pause:not(&--main) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__display:hover + &__play-btn--pause,
  &__play-btn--pause:hover {
    opacity: 1;
    visibility: visible;
  }

  &__line {
    position: relative;
    background-color: $player-line-color;
    height: rem(7px);
    border-radius: 2px;
  }

  &__timeline {
    flex: 1;
    margin-right: rem(43px);
  }

  &__volume {
    display: flex;
    align-items: center;
  }

  &__volume-btn {
    width: rem(13px);
    height: rem(16px);
    margin-right: rem(25px);
    fill: $white;
    transition: 0.2s;
    cursor: pointer;
  }

  &__volume-icon {
    width: 100%;
    height: 100%;
    fill: $white;
  }

  &__volume-btn &__volume-icon:hover {
    fill: $light-grey;
  }

  &__volume-line {
    width: rem(58px);
  }

  &__current {
    width: 0;
    height: 100%;
    position: relative;
    background-color: $yellow;
    border-radius: 2px;
  }

  &__line-handler {
    position: absolute;
    top: 50%;
    right: 0;
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background-color: $yellow;
    transform: translate(50%, -50%);
    transition: 0.2s;

    &:hover {
      background-color: $yellow-dark;
    }
  }
}
