.boards {
  background-color: #f8faf9;

  .container {
  }

  &__inner {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 52px;
    justify-content: center;
  }

  &__prev,
  &__next {
    position: absolute;
    width: 14px;
    height: 27px;
    background: url("./../../img/icons/arrow.svg") no-repeat center / cover;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
    transform: rotate(180deg);
  }
}
