.board-card {
  display: flex;
  color: $grey;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__img-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      margin-right: 0;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__params {
    margin-bottom: 52px;
    @include tablet {
      display: none;
    }
  }

  &__params-show {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3a587e;
    padding: 15px 6px;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #3465a3;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      display: inline-block;
      vertical-align: bottom;
      width: 38px;
      height: 38px;
      fill: $white;
      margin-bottom: 7px;
    }
  }

  &__params-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    text-transform: uppercase;
  }

  &__params-list {
    display: inline-block;
    position: absolute;
    text-align: left;
    padding: rem(18px) rem(13px);
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 273px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  &__params-show:hover + &__params-list {
    opacity: 1;
    visibility: visible;
  }

  &__params-list:hover {
    opacity: 1;
    visibility: visible;
  }

  &__params-item {
    display: flex;
    align-items: center;
    padding: 15px 12px;
  }

  &__params-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: #000;
  }

  &__params-name {
    display: inline-block;
    margin-right: 12px;
    font-weight: 500;
    font-size: rem(16px);
    line-height: 24px;
    text-align: center;
  }

  &__params-value {
    display: inline-block;
    margin-left: auto;
    white-space: nowrap;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 43%;
    padding-top: rem(9px);

    @include tablet {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(36px);
    line-height: 1.2;
    margin-bottom: rem(24px);
    text-transform: uppercase;
    color: $black;
  }

  &__desc {
    margin-bottom: rem(24px);
  }

  &__props {
    display: flex;
    margin-bottom: rem(24px);
  }

  &__props-item:not(:last-child) {
    margin-right: rem(52px);
  }

  &__props-value {
    font-weight: 700;
    color: $black;
  }

  &__price {
    font-weight: 300;
    font-size: rem(60px);
    line-height: 1;
    color: $black;
    margin-right: 10%;
    white-space: nowrap;
  }

  &__block-bottom {
    display: flex;
  }
}
