.hero {
  position: relative;
  background: url("../../img/bg/hero.png") no-repeat center / cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: center;

  @include tablet {
    background: url("../../img/bg/hero-tablet.png") no-repeat center top #{$header} /
      cover;
  }

  @include mobile {
    background: url("../../img/bg/hero-mobile.png") no-repeat center #{$header} /
      cover;
  }

  .title {
    margin: 0;
    margin-bottom: rem(17px);
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    padding-top: $header;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @include tablet {
      padding-top: 0;
      align-items: center;
    }
  }

  &__text-block {
    width: 60%;
    margin-bottom: rem(64px);
    @include tablet {
      text-align: center;
      width: 90%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: rem(21px);
    line-height: 1.1;
    margin-bottom: rem(39px);
  }

  &__info {
    margin-bottom: rem(68px);

    @include tablet {
      display: none;
    }
  }

  &__info-list {
    display: flex;
    align-items: center;
  }

  &__info-item {
    display: flex;
    align-items: center;
    width: rem(142px);
  }

  &__info-item:not(:last-child) {
    margin-right: rem(30px);
  }

  &__info-text {
    color: $white;
    font-weight: 700;
    font-size: rem(16px);
    line-height: 1.1;
  }

  &__info-icon {
    display: block;
    margin-right: 17px;
    min-width: 35px;
    width: 35px;
    height: 35px;
    fill: $white;
  }
}
