.how {
  background-color: #f8faf9;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__video {
    width: 662px;
    height: 392px;
    border: 1px solid #292929;
  }
}
