.reviews {
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mobile {
      padding: 0 1rem;
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: rem(32px);
  }

  &__list {
    margin-bottom: rem(15px);

    @include tablet {
      margin-bottom: rem(32px);
    }
  }

  &__pagination-list {
    display: flex;
  }

  &__pagination-item:not(:last-child) {
    margin-right: rem(6px);
  }

  &__pagination-btn {
    position: relative;
    width: rem(74px);
    height: rem(74px);
  }

  &__pagination-item--active &__pagination-btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 6px solid $yellow;
    border-radius: 50%;
  }

  &__pagination-avatar {
    width: 100%;
    height: 100%;
  }
}
