.title {
  color: $black;
  font-weight: 700;
  font-size: rem(48px);
  line-height: 1.2;
  text-transform: uppercase;

  &--white {
    color: $white;
  }

  @include mobile {
    font-size: rem(40px);
  }
}
