.why-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__icon-wrap {
    display: inline-block;
    padding: 32px;
    background-color: #f2f5f4;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__icon {
    width: 64px;
    height: 64px;
    fill: #000;
  }

  &__title {
    color: #292929;
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
  }

  &__desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
  }
}
